{% extends "base.html" %}
{% block title %}
  <title>Login</title>
{% endblock %}
{% block content %}
  <div class="page-header align-items-start min-vh-100" style="background-image: url('/static/img/4.jpg');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-9 col-12 mx-auto" style="margin-top: 25vh;">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-black font-weight-bolder text-center mt-2 mb-0">
                  Welcome to TaskFlow Manager
                </h4>
              </div>
            </div>
            <div class="card-body">
              <form role="form" method="post" action="" class="text-start">

                {% csrf_token %}

                <div class="input-group input-group-outline mb-3">
                  <input type="text" name="username" placeholder="Username" class="form-control" required id="id_username">
                </div>
                <div class="input-group input-group-outline mb-3">
                  <input type="password" name="password" placeholder="Password" class="form-control" required id="id_password">
                </div>
                <div class="form-check form-switch d-flex align-items-center mb-3">
                  <input class="form-check-input" type="checkbox" id="rememberMe">
                  <label class="form-check-label mb-0 ms-2" for="rememberMe">Remember me</label>
                </div>
                <div class="text-center">
                  <button type="submit" name="login"
                          class="btn bg-primary w-100 my-4 mb-2">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock content %}
