{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}
  <title>Login</title>
{% endblock %}

{% block content %}
  <div class="container-login">
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <table>
        <tr>
          <td>{{ username.label_tag }}</td>
          <td>{{ username }}</td>
        </tr>
        <tr>
          <td>{{ password.label_tag }}</td>
          <td>{{ password }}</td>
        </tr>
      </table>
      <input type="submit" value="login" class="btn-primary">
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>
{% endblock %}